#bouton-delete{
    align-items: center;
    background: #a70328;
    text-decoration: none;
    color: white;
}

.card-user {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #898888;
}

#image-user {
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
}

#infos-perso {
    color: #9d9d9d;
    font-size: 22px;
    font-weight: bold;
}

#mes-resas {
    margin: 20px;
    margin-top: 50px;
    color: #9d9d9d;
    font-size: 22px;
    font-weight: bold;
}

.user-infos-2 {
    text-align: left;
    align-items: center;
    width: 100%;
    border-width: 1px;
    margin-left: 30px;
    display: flex;
}
.info-utilisateur {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    font-weight: 100;
    width: 600px;
}

.user-info p {
    margin-left: 50px;
    padding-left: 50px;
}

#name {
    margin-top: 35px;
    text-align: left;
    color: #777474;
    font-weight: bold;
}

.reservation {
    margin-top: 20px;
    display: flex;
    // justify-content: space-between;
}

#user {
    margin: 8px 0px;
    color: #898888;
}

#email {
    color: #898888;
}