
<div class="entire-content">
  <div class="main-content">
    <h2 class="slogan">Ne cherchez pas plus loin que la porte d'à coté.</h2>
    <div class="search-container">
      <input  type="search"
              id="site-search"
              name="q"
              aria-label="Search through site content"
              placeholder="Recherchez un produit à proximité"
              class="search">

      <%= link_to 'Search', products_path, class:"green-bouton"  %>
    </div>
  </div>
</div>

