

.search-bar {
    display: flex;
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 16px;
  }

.img-svg-text {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    align-items: center;
    color: #9d9d9d;
}

p {
    margin-left: 10px;
    margin-bottom: 0px;
    color: #9d9d9d;
}

.form-control {
    margin: 13px;
    width: 400px;
    border-radius: 10px;
}

.index-search-bar {
  display: flex;
}

.search-btn {
  margin: 13px;
  border: none;
}

