.navbar-lewagon {
  justify-content: space-between;
  background-color: #33B48B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: 80px;
}

