<h1>All products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product.id) %>
      <td><%= product.price %></td> <br>
      <td><%= User.find(product.user_id).first_name %></td>
      <td><%= User.find(product.user_id).last_name %></td>
    </li>
  <% end %>
</ul>
