<div class="flex-container">
  <%# <div class ="product-card"> %>

  <h1>All products</h1> 

    <% @products.each do |product| %>
          <div class="card col sm-6" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lyon)">
              <tr>
                <td><%= product.name %></td>
                <td><%= product.address %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
              </tr>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
    <% end %>
</div>